﻿@*<div class="header">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
        <div class="header-upper">
            <div class="header-selectors-wrapper">
                @await Component.InvokeAsync("TaxTypeSelector")
                @await Component.InvokeAsync("CurrencySelector")
                @await Component.InvokeAsync("LanguageSelector")
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
            </div>
            <div class="header-links-wrapper">
                @await Component.InvokeAsync("HeaderLinks")
                @await Component.InvokeAsync("FlyoutShoppingCart")
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })
        <div class="header-lower">
            <div class="header-logo">
                @await Component.InvokeAsync("Logo")
            </div>
            <div class="search-box store-search-box">
                @await Component.InvokeAsync("SearchBox")
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
    </div>*@



<div class="header-middle">
    <!--header-middle-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 clearfix">
                <div class="logo pull-left">
                    @await Component.InvokeAsync("Logo")
                </div>
                <div class="btn-group pull-right clearfix">
                    <div class="btn-group">
                        @await Component.InvokeAsync("TaxTypeSelector")
                    </div>
                    <div class="btn-group">
                        @await Component.InvokeAsync("CurrencySelector")
                    </div>
                    <div class="btn-group">
                        @await Component.InvokeAsync("LanguageSelector")
                    </div>
                </div>
            </div>
            <div class="col-md-6 clearfix">
                <div class="shop-menu clearfix pull-right">
                    @await Component.InvokeAsync("HeaderLinks")
                    @await Component.InvokeAsync("FlyoutShoppingCart")
                </div>
            </div>
        </div>
    </div>
</div>
<!--/header-middle-->
