﻿@model HeaderLinksModel
@using Nop.Core.Domain.Customers
@inject Nop.Core.IWebHelper webHelper

<ul class="nav navbar-nav">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderLinksBefore })
    @if (Model.IsAuthenticated)
    {
        <li><a href="@Url.RouteUrl("CustomerInfo")" class="ico-account"><i class="fa fa-user"></i>@T("Account.MyAccount")@*@Model.CustomerName*@</a></li>
        <li><a href="@Url.RouteUrl("Logout")" class="ico-logout"><i class="fa fa-sign-out" aria-hidden="true"></i>@T("Account.Logout")</a></li> 
    }
    else
    {
         var returnUrl = Context.Request.Query.TryGetValue("returnUrl", out var url) && !StringValues.IsNullOrEmpty(url) ? url.ToString() : webHelper.GetRawUrl(Context.Request);

         @if (Model.RegistrationType != UserRegistrationType.Disabled)
         {
            <li><a href="@Url.RouteUrl("Register", new { returnUrl })" class="ico-register"><i class="fa fa-user"></i>@T("Account.Register")</a></li>
         }
         <li><a href="@Url.RouteUrl("Login", new { returnUrl })" class="ico-login"><i class="fa fa-sign-in" aria-hidden="true"></i>@T("Account.Login")</a></li>
    }
    @if (Model.WishlistEnabled)
    {
            <li>
                
                <a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">
                    <i class="fa fa-star"></i>
                    <span class="wishlist-label">@T("Wishlist")</span>
                    <span class="wishlist-qty">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
                </a>
            </li>
    }
    @if (Model.ShoppingCartEnabled)
    {

            <li>
                <a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="cart-label">@T("ShoppingCart")</span>
                    <span class="cart-qty">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
                </a>
            </li>
     }
     @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderLinksAfter })
    @*<li><a href=""><i class="fa fa-star"></i> Wishlist</a></li>
    <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
    <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
    <li><a href="login.html"><i class="fa fa-lock"></i> Login</a></li>*@
</ul>
@if (Model.ShoppingCartEnabled)
{
        <script asp-location="Footer">
            $(document).ready(function () {
                $('.header').on('mouseenter', '#topcartlink', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('.header').on('mouseleave', '#topcartlink', function () {
                    $('#flyout-cart').removeClass('active');
                });
                $('.header').on('mouseenter', '#flyout-cart', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('.header').on('mouseleave', '#flyout-cart', function () {
                    $('#flyout-cart').removeClass('active');
                });
            });
        </script>
}