﻿@model CategoryModel

<div class="card-body">
    @(await Html.LocalizedEditorAsync<CategoryModel, CategoryLocalizedModel>("category-name-localized",
        @<div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="@Model.Locales[item].Name" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@Model.Locales[item].Name" />
                    <span asp-validation-for="@Model.Locales[item].Name"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="@Model.Locales[item].Description" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@Model.Locales[item].Description" asp-template="RichEditor" />
                    <span asp-validation-for="@Model.Locales[item].Description"></span>
                </div>
            </div>
            <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
        </div>
        ,
        @<div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="Name" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Name" asp-required="true" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="Description" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Description" asp-template="RichEditor" />
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
        </div>))

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="ParentCategoryId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="ParentCategoryId" asp-items="Model.AvailableCategories" />
            <span asp-validation-for="ParentCategoryId"></span>
        </div>
    </div>
    <div class="form-group advanced-setting row">
        <div class="col-md-3">
            <nop-label asp-for="PictureId" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="PictureId" />
            <span asp-validation-for="PictureId"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 label-wrapper">
            <label class="col-form-label" for="BSCustomFeature">BS Custom Feature</label>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="BSCustomFeature " />
            <span asp-validation-for="BSCustomFeature"></span>
        </div>
    </div>
</div>